$-register-button:#40C4FF;
$-hero-write:#FFFFFF;
$-footer-bg:#222222;
$-footer-text:#AFAFAF;
$-footer-title:#CDCDCD;
$-card-bg:#f2f8fc;
$-card-border:#f2f2f2;
$-top-icon-bg:#40C4FF;
$-price-color:#ffd740;
$-bg-blu:#9ce0ff;
$-border-raw:#eaebeb;
$-border-raw-blu:#d6f2ff;
$-text-grey:#898989;